EXPO_PUBLIC_SUPABASE_URL=https://kixymrjsupzkxokujmwu.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_FgqL2r3ZtCoGevLdLnbp6g_fcKNZ-EY
EXPO_PUBLIC_API_URL=https://easnerbank.vercel.app
EXPO_PUBLIC_POSTHOG_KEY=phc_6UR7UJL9qkwKcABqGXxn3LKjrMXwVDfcxD0RRCcNLrZ
EXPO_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
