NEXT_PUBLIC_SUPABASE_URL=https://kixymrjsupzkxokujmwu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_FgqL2r3ZtCoGevLdLnbp6g_fcKNZ-EY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtpeHltcmpzdXB6a3hva3VqbXd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU2MzkzOSwiZXhwIjoyMDkwMTM5OTM5fQ.oFlZXIpPpWUcUBInvwlCXGv7lcUkBNdreg-ae2cHS_I
NEXT_PUBLIC_API_URL=https://easnerbank.vercel.app
OFFICE_BACKEND_API_URL=http://localhost:3000
NEXT_PUBLIC_OFFICE_ENABLE_RATES=false